@import 'antd/dist/reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .d-rtl {
    direction: rtl;
  }
  
  .d-ltr {
    direction: ltr;
  }
}

@layer components {
  .--pointsSection {
    & > div {
      &:not(:nth-last-child(-n+2)) {
        & > div {
          @apply border-solid border-0 border-b border-gray-40
        }
      }
    }
  }
  
  .--projectsListSlider {
    .swiper-button-prev,
    .swiper-button-next {
      @apply bg-primary bg-clip-text text-transparent;
    }
    
    .swiper-pagination-bullets {
      .swiper-pagination-bullet {
        @apply w-[9px] h-[9px] bg-white opacity-100;
        
        &.swiper-pagination-bullet-active {
          @apply bg-primary;
        }
      }
    }
  }
  
  .--falamacProjectSection {
    .--centerSection {
      background: linear-gradient(90deg, rgba(134, 134, 134, 0.20) 0.77%, rgba(255, 255, 255, 0.20) 106.96%);
      filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.05));
    }
  }
}
